<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PitchPerfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A442D0EA1D9D812E0000A87D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A442D0FE1D9D812F0000A87D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A442D1091D9D812F0000A87D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A446ECFC1DB494D300EFC60D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
